@font-face {
    font-family:JetBrainsMono;
    src: url('../media/Fonts/JetBrainsMono-ExtraBold.ttf');
}/*import the font family*/

@media screen and (max-width: 2560px){/*I adjusted the sizes to fit the biggest resolution*/
    body{/*this attributes apply to the whole website, unless stated otherwise*/
        background-color: darkred;
        font-family: JetBrainsMono, serif;/*insert an alternative font that is recognised by all browser in case the downloaded font is not recognised*/
        color: antiquewhite;
        text-align: center;
        box-sizing: border-box;
    }

    header{
        display: flex;
        align-items: baseline;
    }/*this is to make sure that both of the components of the header (the title and the navigation bar) are aligned*/

    h1{
        font-style: italic;
        color: darkblue;
        font-size: 170px;
        padding-left: 150px;
        padding-right: 150px;
    }

    h1>a{
        text-decoration: none;
    }/*removes the underline from the link*/

    nav{
        padding-left: 570px;
    }/*makes a bigger space in between the title and the navigation bar*/

    nav>ol>li{
        display: inline;
        text-align: right;
        text-decoration: none;
        font-size: 30px;
    }/*make sure that the 3 elements are aligned*/

    nav>ol>li>a{
        text-align: right;
        color: antiquewhite;
        text-decoration: none;
        padding: 4px;
    }/*change the aspect of the links and remove the underline from the link*/

    nav>ol>li>a:hover{
        background-color: antiquewhite;
        color: darkred;
        padding: 4px;
    }/*when hovering over these links their aspect changes before clicking on them*/

    main>p{
        font-size: 30px;
        height: 170px;
        background-color: #5b0000;
    }/*I added a darker background to make the text stand out*/

    main>article{
        display: flex;
        justify-content: space-around;
    }

    main>article>p{
        font-size: 25px;
    }

    main>article>p>img{
        height: 500px;
    }/*make the image smaller to fit the aspect of the page*/

    main>h3{
        font-size: 40px;
    }

    main>video{
        height: 600px;
    }/*make the video smaller to fit the aspect of the page*/

    footer{
        display: flex;
        height: 60px;
        font-size: 20px;
        background-color: #5b0000;
        justify-content: center;
    }/*I made the text go in the middle using the display feature and then I added a slightly darker background colour to accentuate the footer, and lastly
   the font chosen for this page is bold by default so I made it lighter*/
}

@media screen and (max-width: 1800px){/*I adjusted the sizes to fit the resolution of the laptop screen*/
    body{/*this attributes apply to the whole website, unless stated otherwise*/
        background-color: darkred;
        font-family: JetBrainsMono, serif;/*insert an alternative font that is recognised by all browser in case the downloaded font is not recognised*/
        color: antiquewhite;
        text-align: center;
        box-sizing: border-box;
    }

    header{
        display: flex;
        align-items: baseline;
    }/*this is to make sure that both of the components of the header (the title and the navigation bar) are aligned*/

    h1{
        font-style: italic;
        color: darkblue;
        font-size: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }

    h1>a{
        text-decoration: none;
    }/*removes the underline from the link*/

    nav{
        padding-left: 590px;
    }/*makes a bigger space in between the title and the navigation bar*/

    nav>ol>li{
        display: inline;
        text-align: right;
        text-decoration: none;
        font-size: 15px;
    }/*make sure that the 3 elements are aligned*/

    nav>ol>li>a{
        text-align: right;
        color: antiquewhite;
        text-decoration: none;
        padding: 4px;
    }/*change the aspect of the links and remove the underline from the link*/

    nav>ol>li>a:hover{
        background-color: antiquewhite;
        color: darkred;
        padding: 4px;
    }/*when hovering over these links their aspect changes before clicking on them*/

    main>p{
        font-size: 15px;
        height: 85px;
        background-color: #5b0000;
    }/*I added a darker background to make the text stand out*/


    main>article{
        display: flex;
        justify-content: space-around;
    }

    main>article>p{
        font-size: 15px;
    }

    main>article>p>img{
        height: 250px;
    }/*make the image smaller to fit the aspect of the page*/

    main>h3{
        font-size: 20px;
    }

    main>video{
        height: 350px;
    }/*make the video smaller to fit the aspect of the page*/

    footer{
        display: flex;
        align-content: baseline;
        height: 60px;
        background-color: #5b0000;
        justify-content: center;
    }/*I made the text go in the middle using the display feature and then I added a slightly darker background colour to accentuate the footer, and lastly
   the font chosen for this page is bold by default so I made it lighter*/
}
@media screen and (max-width: 640px){/*I adjusted the sizes to fit the smallest resolution*/
    body{/*this attributes apply to the whole website, unless stated otherwise*/
        background-color: darkred;
        font-family: JetBrainsMono, serif;/*insert an alternative font that is recognised by all browser in case the downloaded font is not recognised*/
        color: antiquewhite;
        text-align: center;
        box-sizing: border-box;
    }

    header{
        display: flex;
        align-items: baseline;
    }/*this is to make sure that both of the components of the header (the title and the navigation bar) are aligned*/

    h1{
        font-style: italic;
        color: darkblue;
        font-size: 53px;
        padding-left: 33px;
        padding-right: 33px;
    }

    h1>a{
        text-decoration: none;
    }/*removes the underline from the link*/

    nav{
        padding-left: 5px;
    }/*makes a bigger space in between the title and the navigation bar*/

    nav>ol>li{
        display: inline;
        text-align: right;
        text-decoration: none;
        font-size: 9px;
    }/*make sure that the 3 elements are aligned*/

    nav>ol>li>a{
        text-align: right;
        color: antiquewhite;
        text-decoration: none;
        padding: 4px;
    }/*change the aspect of the links and remove the underline from the link*/

    nav>ol>li>a:hover{
        background-color: antiquewhite;
        color: darkred;
        padding: 2px;
    }/*when hovering over these links their aspect changes before clicking on them*/

    main>p{
        font-size: 10px;
        height: 110px;
        background-color: #5b0000;
    }/*I added a darker background to make the text stand out*/

    main>article{
        display: flex;
        flex-flow: column;/*I changed the flex-flow from row to column to make the images more clear on a smaller resolution*/
    }

    main>article>p{
        font-size: 10px;
    }

    main>article>p>img{
        height: 200px;
    }/*make the image smaller to fit the aspect of the page*/

    main>h3{
        font-size: 20px;
    }

    main>video{
        height: 250px;
    }/*make the video smaller to fit the aspect of the page*/

    footer{
        display: flex;
        height: 30px;
        font-size: 10px;
        background-color: #5b0000;
        justify-content: center;
    }/*I made the text go in the middle using the display feature and then I added a slightly darker background colour to accentuate the footer, and lastly
   the font chosen for this page is bold by default so I made it lighter*/
}